$pink: #ff5aa4
$pink-light: #ffebf8

$grey-light: #e6e6e6
$grey-dark: #424242

$green-dark: #105832

@import small/colors
@import small/tags
@import small/filter
@import small/flamingo_icon
@import small/flamingo
@import small/quote
@import small/link
