// need to define mixins for dark an light because 
// sass does not support interpolation to property-values
// which should end as a variable

// body
$body-salmon: #ffdedc;
.body-salmon-dark { fill: #ffd0cd;}
.body-salmon-light { fill: #feeceb;}

$body-misty-rose: #f1b5b5;
.body-misty-rose-dark { fill: #f0a2a2; }
.body-misty-rose-light { fill: #f0caca; }

$body-grey: #93939b;
.body-grey-dark { fill: #82828a; }
.body-grey-light { fill: #a3a3ac; }

$body-green: #aab7ae;
.body-green-dark { fill: #96a39a; }
.body-green-light { fill: #bfcdc4; }

$body-blue: #4a4a89;
.body-blue-dark { fill: #353568; }
.body-blue-light { fill: #6666a8; }

// beak
$beak-brown: #423316;
.beak-brown-light { fill: #564729; }

$beak-rosy-brown: #8c7676;
.beak-rosy-brown-light { fill: #a59595; }

$beak-grey: #c2b6b6;
.beak-grey-light { fill: #d5cece; }

$beak-khaki: #8d8555;
.beak-khaki-light { fill: #a29a6a; }

//legs
$legs-beige: #f1e1e1;
.legs-beige-light { fill: #fceded; }

$legs-salmon: #f9c8b8;
.legs-salmon-light { fill: #fadad0; }

$legs-grey: #736d71;
.legs-grey-light { fill: #959194; }

$legs-blue: #254167;
.legs-blue-light { fill: #3b5a83; }

$body-colors: (
  body-salmon: $body-salmon,
  body-misty-rose: $body-misty-rose,
  body-grey: $body-grey,
  body-green: $body-green,
  body-blue: $body-blue
);

$beak-colors: (
  beak-brown: $beak-brown,
  beak-rosy-brown: $beak-rosy-brown,
  beak-grey: $beak-grey,
  beak-khaki: $beak-khaki
);

$legs-colors: (
  legs-beige: $legs-beige,
  legs-salmon: $legs-salmon,
  legs-grey: $legs-grey,
  legs-blue: $legs-blue
)
