.filter
  position: fixed
  width: 100%
  left: 0
  bottom: 0

.filter-input
  display: none

.filter-first-level-option
  display: inline-block
  vertical-align: bottom
  transition: height 0.5s

.filter-first-level-option-target
  height: 15vh
  width: 15vh
  border-bottom: none
  border-color: $pink
  &:after
    display: block

#body-color:target
  ~ .filter
    .filter-label-body-color
      display: inline-block
    .fitler-body-color
      @extend .filter-first-level-option-target

#beak-color:target
  ~ .filter
    .filter-label-beak-color
      display: inline-block
    .filter-beak-color
      @extend .filter-first-level-option-target

#legs-color:target
  ~ .filter
    .filter-label-legs-color
      display: inline-block
    .filter-legs-color
      @extend .filter-first-level-option-target

.filter-first-level 
  bottom: 0
  white-space: nowrap
  width: 100%
  overflow-x: scroll
  overflow-y: hidden
  padding: 0 10px
  text-align: center
  box-sizing: border-box
  a
    display: inline-block

.filter-first-level-option
  border: 2px solid $grey-light
  height: 10vh
  width: 10vh

.filter-second-level 
  background-color: $pink
  width: 100%
  padding: 0px 10px
  text-align: center
  box-sizing: border-box

.filter-label
  display: none
  border-radius: 1000px 1000px
  color: black
  text-indent: 999px
  overflow: hidden
  width: 30px
  height: 30px
  background-color: black
  margin: 5px
  box-sizing: border-box
  cursor: pointer
  vertical-align: middle

@each $key, $value in $body-colors
  .filter-label[for="#{$key}"]
    background-color: $value

@each $key, $value in $beak-colors
  .filter-label[for="#{$key}"]
    background-color: $value

@each $key, $value in $legs-colors
  .filter-label[for="#{$key}"]
    background-color: $value

.second-level-option-checked
  width: 40px
  height: 40px

@each $key, $value in $body-colors
  ##{$key}:checked
    ~ .filter
      .filter-second-level
        label[for="#{$key}"]
          @extend .second-level-option-checked

@each $key, $value in $beak-colors
  ##{$key}:checked
    ~ .filter
      .filter-second-level
        label[for="#{$key}"]
          @extend .second-level-option-checked

@each $key, $value in $legs-colors
  ##{$key}:checked
    ~ .filter
      .filter-second-level
        label[for="#{$key}"]
          @extend .second-level-option-checked
