.flamingo-icon
  display: block
  text-align: center
  padding: 10px 10px 8px 10px
  position: relative
  background-color: white

  &:after
    content: ' '
    width: 20px
    height: 20px
    display: block
    background-color: red
    position: absolute
    left: 7vh 
    bottom: -10px 
    transform: rotate(45deg)
    background-color: $pink
    display: none

.flamingo-icon-svg
  height: 100%

.flamingo-icon-body-color
  .sti3
    fill: $grey-dark
  .sti1,
  .sti2,
  .sti0
    fill-opacity: 0

.flamingo-icon-beak-color
  .sti2
    fill-opcaity: 0
  .sti1,
  .sti3,
  .sti0
    fill-opacity: 0

.flamingo-icon-legs-color
  .sti0
    fill-opcaity: 0
    fill: $grey-dark
  .sti1,
  .sti3,
  .sti2
    fill-opacity: 0

// sti0 = legs
// sti2 = beak
// sti3 = body
