body
  background-color: white
  margin: 5px
  border: 30px solid $grey-dark
  height: 97vh
  box-sizing: border-box


#svg-circle 
  fill: orange

#male:checked ~ #svg-circle
  fill: grey

#female:checked:root
  border: 10px solid red

  body &
    background-color: blue

input[value='asdf']
  background-color: red

#svg-circle:target
  background-color: red

.dumdium
  height: 100px
  width: 100px
  background-color: red

.a
  font-size: 11px
  color: $pink
